<main class="page__inner">
    <div class="container">
        <div class="p404">
            <div class="p404__title">
                Ошибка <span>404</span></div>
            <div class="p404__text">
                Неверно набран адрес или такой страницы не существует. Необходимую информацию вы сможете найти перейдя на <a href="{{ Url.home }}">Главную страницу</a></div>
        </div>
    </div>
</main>
