<menu class="nav">
    <div class="container">
        <ul class="nav__list">
            {% for item in menu %}
            <li class="nav__item {% if loop.index<5 %}is--main-category{% endif %}"><a class="nav__link" href="{{ item.url }}">{{ item.info.title }}</a></li>
            {% endfor %}

        </ul>
    </div>
</menu>